parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method live\\(\\) on mixed\\.$#"
			count: 1
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Part \\$request\\-\\>input\\('search'\\) \\(mixed\\) of encapsed string cannot be cast to string\\.$#"
			count: 2
			path: app/Http/Controllers/PostController.php

		-
			message: "#^Call to an undefined method Nedwors\\\\Navigator\\\\Item\\:\\:meta\\(\\)\\.$#"
			count: 3
			path: app/Providers/NavigationServiceProvider.php

		-
			message: "#^Access to an undefined property Wink\\\\WinkAuthor\\:\\:\\$email\\.$#"
			count: 1
			path: app/Services/Feed/FeedPost.php

		-
			message: "#^Access to an undefined property Wink\\\\WinkAuthor\\:\\:\\$name\\.$#"
			count: 1
			path: app/Services/Feed/FeedPost.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Database\\\\Eloquent\\\\Collection\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:\\$slug\\.$#"
			count: 1
			path: database/factories/VisitFactory.php

